.cheese {
    background-color: grey;
    
}

h1 {
    text-align: center;
    
}


.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #fa4454;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.obama{
    height:100;
    width:200;
}

.andy{
    background-color:black;
}


.mini{
    color:#a9a9a9;
    font-size:45px;
}


.Chad{
    color:#a9a9a9;
    font-size:30px;
}

.mapinfo{
    color:#a9a9a9;
}

.beef {
    background-color: grey;
    
}

.imperialism{
    margin-left:35px;
    margin-bottom:10px;
    margin-right:575px;
    color:#400000;
}

.pizza {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.mouse:hover .overlay {
  opacity: 1;
}







